body{
	border: 20px solid #bdc3c7;
	margin-left: 20%;
	margin-right: 20%;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	font-family: Source Sans Pro;
}

h2, p{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	
}

h2{
	color: #2c3e50;
	font-size: 2.0rem;
}

.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.heading{
	text-transform: capitalize;
}

.quote{
	border-left: 5px solid #bdc3c7;
	margin-left: 10px;
	padding-left: 5px;
}

.post{
	margin-bottom: 20px;
}

hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}