body{
    font-family: roboto;
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container{
    align-items: center;
    background-color: silver;
    width: 300px;
    margin: 100px auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    background-color: #f7f7f7;
}

.fa-plus-square{
    float: right;
}

.completed{
    color: "gray";
    text-decoration: "line-through";
}

h1{
    background-color: #2980e9;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666;
    text-transform: capitalize;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

li span{
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
    display: inline-block;
    width: 0;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #666;
    font-weight: normal;
    border: 3px solid rgba(0,0,0,0);
    
}

input:focus{
    background-color: white;
    border: 3px solid #2980e9;
    outline: none;
}