body{
	background-color: #232323;
	margin:0;
	font-family: cursive;
	font-weight: 800;
}

#rgbDisplay{
	text-transform: uppercase;
}

.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 25px;
}

#container{
	width: 600px;
	margin: 0 auto;
}

h1{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal; 
}

#stripe{
	display: grid;
	grid-template-columns: 10% 20% 40% 20% 10%;
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
	padding: 0;
	margin: 0;
}

#resetSpan{
  grid-column: 2;
}

#message{
	grid-column: 3;
}

#mode{
	grid-column: 4;
}

.selection{
	background-color: blue;
}

button{
	height: 30px;
	border: none;
	background-color: white;
	font-family: cursive;
	font-weight: 400;

}

button:hover{
	background-color: steelblue;
}

