body{
	background-color: #f5d9d5;
	font-family: "Nunito";
}

#mainNavbar{
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .navbar-brand{
	color: #ea1c2c;
}

#mainNavbar .nav-link:hover{
	color: #ea1c2c;
}

#heading span{
	color: #ea1c2c;
}

#heading h1{
	font-size: 3rem;
	font-weight: 100;
}

@media (max-width: 1200px){

	#heading h1{
	font-size: 2.5rem;
	font-weight: 100;
	}

}

section{
	height: 500px;
}